- 
  data = [

    {
      name: 'Knife Set',
      url: 'http://amzn.to/2kKIX8f',
      imageUrl: 'https://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B00NISVK4G&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=bestdinnerbox-20',
      description: 'A good knife set is the most important thing that you can have in your kitchen, and will make cooking 100% more enjoyable. We\'ve found this set to be a good compromise between price and quality, but will be looking to upgrade in the near future.'
    },
    {
      name: 'Baking Sheet',
      url: 'http://amzn.to/2l6m23k',
      imageUrl: 'https://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B000G0KJG4&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=bestdinnerbox-20',
      description: 'A kitchen is not complete without 2 or 3 baking sheets. They\'re used in almost every recipe. Pro tip: use aluminum foil or parchment paper to keep your sheets looking fresh.'
    },
    {
      name: 'Cooking Oil',
      url: 'http://amzn.to/2lEJJmK',
      imageUrl: 'https://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B00LJ0TVVE&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=bestdinnerbox-20',
      description: 'We prefer grapeseed oil for cooking- it has a high smoke temperature and a neutral flavor, plus it is more environmentally friendly than traditional olive oil.'
    },
    {
      name: 'Pots & Pans',
      url: 'http://amzn.to/2m6CRj8',
      imageUrl: 'https://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B001AS94TY&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=bestdinnerbox-20',
      description: 'Good pots make cooking more enjoyable- make sure you have something non-stick. You\'ll typically want a few different sizes- a large pasta pot, a smaller sauce pan, and something in the middle with high sides for sautee. Make sure your set comes has lids!'
    },
    {
      name: 'Mixing Bowls',
      url: 'http://amzn.to/2m6xXT4',
      imageUrl: 'https://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B01HTYH8YA&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=bestdinnerbox-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=bestdinnerbox-20&l=am2&o=1&a=B01HTYH8YA',
      description: 'Many dinner box recipes involve salads, but you\'ll also find mixing bowls useful for tossing ingredients in oil before roasting in the oven.'
    },
    {
      name: 'Meat Thermometer',
      url: 'http://amzn.to/2lEwpi7',
      imageUrl: 'https://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B00CD5NI0E&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=bestdinnerbox-20',
      description: 'A good meat thermometer is important to have on hand. The last thing you want to do after spending an hour preparing a meal is to cut into chicken and find out that it\'s unsafe to eat, and having to awkwardly reheat the oven.'
    }
  ];
