- 
  data = [
    {
      url: 'https://blueapron.com',
      prettyUrl: 'blueapron.com',
      name: 'Blue Apron',
      slug: 'blue-apron',
      description: 'The granddaddy of the delivery boxes.',
      rating: {
        difficulty: 2,
        uniqueness: 1,
        flexibility: 1
      },
      price: {
        amount: '$60',
        unit: '/ week'
      },
      tags: ['vegetarian', 'family']
    },
    {
      url: 'https://plated.com',
      prettyUrl: 'plated.com',
      name: 'Plated',
      slug: 'plated',
      description: '',
      rating: {
        difficulty: 1,
        uniqueness: 2,
        flexibility: 2
      },
      price: {
        amount: '$72',
        unit: '/ week'
      },
      tags: ['vegetarian', 'family']
    },
    {
      url: 'https://homechef.com',
      prettyUrl: 'homechef.com',
      name: 'Home Chef',
      slug: 'home-chef',
      description: '',
      rating: {
        difficulty: 1,
        uniqueness: 2,
        flexibility: 2
      },
      price: {
        amount: '$60',
        unit: '/ week'
      },
      tags: ['vegetarian']
    },
    {
      url: 'https://marleyspoon.com',
      prettyUrl: 'marleyspoon.com',
      name: 'Martha & Marley Spoon',
      slug: 'martha-marley-spoon',
      description: '',
      rating: {
        difficulty: 1,
        uniqueness: 2,
        flexibility: 2
      },
      price: {
        amount: '$61.50',
        unit: '/ week'
      },
      tags: ['vegetarian']
    },
    {
      url: 'https://peachdish.com',
      prettyUrl: 'peachdish.com',
      name: 'Peach Dish',
      slug: 'peach-dish',
      description: 'PeachDish follows an a la carte ordering system, where each dish is priced separately and you don\'t need to pick an entire week\'s worth of meals at once.',
      rating: {
        difficulty: 1,
        uniqueness: 2,
        flexibility: 2
      },
      price: {
        amount: '$75 - $120',
        unit: '/ week'
      },
      tags: []
    },
    {
      url: 'https://hellofresh.com',
      prettyUrl: 'hellofresh.com',
      name: 'Hello Fresh',
      slug: 'hello-fresh',
      description: '',
      rating: {
        difficulty: 1,
        uniqueness: 2,
        flexibility: 2
      },
      price: {
        amount: '$60',
        unit: '/ week'
      },
      tags: ['vegetarian', 'family']
    },
    {
      url: 'https://sunbasket.com',
      prettyUrl: 'sunbasket.com',
      name: 'Sun Basket',
      slug: 'sun-basket',
      description: '',
      rating: {
        difficulty: 1,
        uniqueness: 2,
        flexibility: 2
      },
      price: {
        amount: '$60',
        unit: '/ week'
      },
      tags: ['vegetarian']
    },
    {
      url: 'https://gobble.com',
      prettyUrl: 'gobble.com',
      name: 'Gobble',
      slug: 'gobble',
      description: '',
      rating: {
        difficulty: 1,
        uniqueness: 2,
        flexibility: 2
      },
      price: {
        amount: '$60',
        unit: '/ week'
      },
      tags: []
    },
    {
      url: 'https://terraskitchen.com',
      prettyUrl: 'terraskitchen.com',
      name: 'Terra\'s Kitchen',
      slug: 'terras-kitchen',
      description: '',
      rating: {
        difficulty: 1,
        uniqueness: 2,
        flexibility: 2
      },
      price: {
        amount: '$60 - $100',
        unit: '/ week'
      },
      tags: ['vegetarian', 'vegan']
    },
    {
      url: 'https://greenchef.com',
      prettyUrl: 'greenchef.com',
      name: 'Green Chef',
      slug: 'green-chef',
      description: '',
      rating: {
        difficulty: 1,
        uniqueness: 2,
        flexibility: 2
      },
      price: {
        amount: '$60 - $100',
        unit: '/ week'
      },
      tags: ['vegetarian', 'vegan']
    },
    {
      url: 'https://purplecarrot.com',
      prettyUrl: 'purplecarrot.com',
      name: 'Purple Carrot',
      slug: 'purple-carrot',
      description: '',
      rating: {
        difficulty: 1,
        uniqueness: 2,
        flexibility: 2
      },
      price: {
        amount: '$60 - $100',
        unit: '/ week'
      },
      tags: ['vegetarian', 'vegan']
    }
  ];      