include /mixins/_head.pug
doctype html
html
  +head('Top Dinner Boxes: Plated', 'Plated Review- How to sign up for Plated, cancel Plated, and everything inbetween.')
  body
    include /includes/_nav.pug
    .container
      .row
        .col
          h1 Plated
          p A mix between health concious and indulgent, Plated is our go-to meal box.

          

          p <strong>Pro tip:</strong> Freeze shrimp the day it comes, and thaw when needed. Make recipes with cucumber as soon as possible, as they tend to go bad quickly.

          h3 Pros:
          p <strong>Usability:</strong> Both the app and website are a breeze to use, and allow you to easily customize the contents of your box.

          h3 Cons:
          p <strong>Freshness:</strong> In our experience, the produce from Plated doesn't stay fresh as long as with other boxes.

          

      include /includes/_footer.pug